<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{vehicle.make}} {{vehicle.model}}</title>
</head>

<body>
    <h2>
        {{vehicle.make}} {{vehicle.model}}
    </h2>
    <h4>Item number: {{item}}</h4>
    
    <a href="/">HOME</a>

</body>

</html>